.youtube{
    display: flex;
    flex-direction: row;
}
.youtube-left{
    margin-left:  75px;
    padding-right: 24px;
    padding-top: 24px;
}
.youtube-right{
    padding-right: 24px;
    padding-top: 24px;
}